---
import ArticlePreviewList from '../../components/article-preview-list.astro';
import Layout from '../../layouts/layout.astro';
import * as sanity from '../../lib/sanity';
import { format as formatDate } from 'date-fns';

const articlePreviews: sanity.ArticlePreviewFragment[] = await sanity.client.fetch(/* groq */ `
  *[_type == "article" && defined(slug.current) && dateTime(publishedAt) < dateTime(now()) && hidden != true] | order(publishedAt desc) {
    ${sanity.fragments.articlePreview}
  }
`);

const articlePreviewsByYear = Object.groupBy(articlePreviews, (article) =>
  formatDate(new Date(article.publishedAt), 'yyyy'),
);
---

<Layout title="Archief">
  <div class="[ archive ] [ stack ]">
    <div class="stack">
      <h2 class="gentle-heading">Alle artikelen</h2>

      {
        Object.entries(articlePreviewsByYear)
          .toReversed()
          .map(([year, articlePreviews]) => (
            <>
              <div class="archive__year">{year}</div>
              <ArticlePreviewList articlePreviews={articlePreviews ?? []} />
            </>
          ))
      }
    </div>
  </div>
</Layout>

<style>
  .archive {
    align-items: center;
  }

  .archive__year {
    margin-block-start: var(--font-size-xxl);
    border-bottom: 2px solid;
    width: 100%;
    font-weight: var(--font-weight-4);
  }
</style>
