---
import ArticlePreviewList from '../../components/article-preview-list.astro';
import Layout from '../../layouts/layout.astro';
import * as sanity from '../../lib/sanity';

const articlePreviews = await sanity.client.fetch(/* groq */ `
  *[_type == "article" && defined(slug.current) && dateTime(publishedAt) < dateTime(now()) && hidden != true] | order(publishedAt desc) {
    ${sanity.fragments.articlePreview}
  }
`);
---

<Layout title="Archief">
  <div class="[ archive ] [ stack ]">
    <div class="stack">
      <h2 class="gentle-heading">Alle artikelen</h2>
      <ArticlePreviewList articlePreviews={articlePreviews} />
    </div>
  </div>
</Layout>

<style>
  .archive {
    align-items: center;
  }
</style>
