.color-picker {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.color-picker label {
  display: block;
  cursor: pointer;
  border-radius: 100%;
  background-color: var(--color);
  aspect-ratio: 1;
  width: 2.2rem;
}

.color-picker label:hover {
  transform: scale(1.1);
}

.color-picker label[data-selected='true'] {
  outline-radius: 100%;
  outline: 2px solid var(--color);
  outline-offset: 2px;
}

.color-picker span,
.color-picker input {
  clip: rect(0 0 0 0);
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
