/* sass:/Users/wannessalome/Projecten/web/waspeer/greet-mertens/web/src/components/image/image.scss */
figure.image {
  background-color: var(--color);
  position: relative;
  margin: 0;
}
figure.image::before {
  content: "";
  display: block;
  padding-bottom: var(--aspectRatio);
}
figure.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.image img[data-loaded] {
  opacity: 0;
  transition: opacity 0.2s;
}
figure.image img[data-loaded][data-loaded=true] {
  opacity: 1;
}

/* sass:/Users/wannessalome/Projecten/web/waspeer/greet-mertens/web/src/templates/article/article.scss */
.article article {
  display: flex;
  flex-direction: column;
}
.article article > * {
  order: 1;
}
.article article figure {
  order: 0;
}
