/* sass:/Users/wannessalome/Projecten/web/waspeer/greet-mertens/web/src/layouts/default-layout.scss */
.layout header,
.layout nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.layout nav ul {
  list-style: none;
}
