/* sass:/Users/wannessalome/Projecten/web/waspeer/greet-mertens/web/src/styles/main.scss */
:root {
  --weight-light: 300;
  --weight-regular: 400;
  --weight-mid: 600;
  --weight-bold: 700;
  --base-size: 1rem;
  --size-300: calc(var(--base-size) * 0.43);
  --size-300: calc(var(--base-size) * 0.57);
  --size-300: calc(var(--base-size) * 0.57);
  --size-400: calc(var(--base-size) * 0.75);
  --size-500: var(--base-size);
  --size-600: calc(var(--base-size) * 1.33);
  --size-700: calc(var(--base-size) * 1.77);
  --size-800: calc(var(--base-size) * 2.4);
  --leading-tight: 1.2;
  --leading-mid: 1.5;
  --leading-loose: 1.7;
  --border-radius: 0.25rem;
}
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  padding: 0 var(--size-500);
}
