.flickity-button {
  background: none;
  width: 2rem;
  height: 100%;
}

.flickity-prev-next-button.next {
  right: -2rem;
}

.flickity-prev-next-button.previous {
  left: -2rem;
}

.flickity-slider {
  @apply flex items-center;
}

.flickity-slider ul {
  @apply w-full;
}
