figure.image {
  background-color: var(--color);
  position: relative;
  margin: 0;

  &::before {
    content: '';
    display: block;
    padding-bottom: var(--aspectRatio);
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &[data-loaded] {
      opacity: 0;
      transition: opacity 0.2s;

      &[data-loaded="true"] {
        opacity: 1;
      }
    }
  }
}