.image {
  position: relative;
  display: grid;
  overflow: hidden;
  max-width: var(--maxWidth);
  max-height: var(--maxHeight);
  background-color: var(--dominantColor);
  grid-template:
    'image' 1fr
    'caption' auto;

  &::before {
    display: block;
    padding-bottom: var(--aspectRatio);
    content: '';
    grid-area: image;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--hotspotX) var(--hotspotY);
  }

  img[data-loaded] {
    opacity: 0;
    transition: opacity 0.5s;
  }

  img[data-loaded='true'] {
    opacity: 1;
  }

  figcaption {
    color: var(--captionColor);
    grid-area: caption;
  }
}
