@use 'base';
@use 'fonts';
@use 'composition';
@use 'utilities';

// GLOBAL
html {
  color: var(--gray-900);
  font-family: var(--font-body);
  line-height: 1.5;

  @media (min-width: 48em) {
    font-size: var(--s-500);
  }
}

a {
  color: var(--blue-500);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.25;
}

h1 {
  font-size: var(--s-700);
}

h2 {
  font-size: var(--s-600);
}

h3 {
  font-size: var(--s-500);
}

h4,
h5 {
  font-size: var(--s-400);
}

p,
li {
  max-width: 60ch;
}

h1 {
  max-width: 20ch;
}

h2,
h3 {
  max-width: 25ch;
}

::selection {
  background-color: var(--gray-900);
  color: var(--gray-50);
}
