@import url('./layouts.css');
@import url('./blocks.css');
@import url('./utilities.css');

:root {
  --font-fallback: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Rubik', var(--font-fallback);

  /* https://www.fluid-type-scale.com/ */
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /* layouts override */
  --space: var(--font-size-base);
}

a {
  color: var(--gray-7);
  text-decoration-color: var(--gray-5);
  text-decoration: none;

  &:hover {
    color: var(--gray-9);
    text-decoration: underline;
  }
}

body {
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-base);
  line-height: var(--font-lineheight-3);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-1);
  font-family: var(--font-body);
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-lg);
}

h5 {
  font-size: var(--font-size-md);
}

p {
  margin: 0;
}

ul.focussed-list {
  & li {
    transition: opacity 200ms var(--ease-1);
  }

  &:hover {
    & li {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.gentle-heading {
  color: var(--gray-5);
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-base);
  font-family: var(--font-body);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
