---
export type Props = {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={ Astro.resolve('../styles/global.css') }>
  <title>{title ?? 'Alles over'} - Greet Mertens</title>
</head>
<body>
  <header class="[ header ] [ p-400 ]">
    <a class="[ header__logo ] [ font-heading fs-600 ]" href="/">Greet Mertens</a>
    <nav class="[ header__nav ] [ cluster ]">
      <a href="/artikelen">artikelen</a>
      <a href="/projecten">projecten</a>
      <a href="/contact">contact</a>
    </nav>
  </header>

  <slot />
</body>
</html>

<style lang="scss">
  .header {
    display: flex;
    align-items: center;
    justify-items: center;

    a {
      color: currentColor;
    }

    &__logo {
      display: none;
    }

    &__nav {
      flex: 1;
      justify-content: center;
    }

    @media (min-width: 30rem) {
      &__logo {
        display: block;
      }

      &__nav {
        justify-content: end;
      }
    }
  }
</style>
