---
import type { ProjectPreviewFragment } from '../lib/sanity';
import { projectUrl } from '../lib/util';
import ProjectPreview from './project-preview.astro';

export interface Props {
  class?: string;
  projectPreviews: ProjectPreviewFragment[];
  type: 'normal' | 'slim';
}

const { class: className, projectPreviews, type } = Astro.props;
---

<ul class:list={['project-preview-list', 'focussed-list', 'grid', className]} data-type={type}>
  {
    projectPreviews.map((projectPreview) => (
      <li>
        <a href={projectUrl(projectPreview)}>
          <ProjectPreview projectPreview={projectPreview} type={type} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .project-preview-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &[data-type='normal'] {
      gap: var(--font-size-xxl);
    }

    & a,
    & a:hover {
      text-decoration: none;
    }
  }
</style>
