---
import * as sanity from '../../../lib/sanity.js';
import { ProjectData } from '../../../lib/types.js';
import BaseLayout from '../../../layouts/base-layout.astro';
import Post from '../../../components/post.astro';

export async function getStaticPaths() {
  const projects = await sanity.query(/* groq */ `
    *[_type == 'project'] {
      ${sanity.fragments.project}
    }
  `);

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

let project = Astro.props.project as ProjectData;

if (import.meta.env.MODE === 'development') {
  const draft = await sanity.query(/* groq */ `
    *[_id == 'drafts.${project.id}'][0] {
      ${sanity.fragments.project}
    }
  `);

  if (draft) {
    project = draft;
  }
}
---

<BaseLayout title={project.title}>
  <main>
    <Post {...project} />
  </main>
</BaseLayout>
